# pyproject.toml
[tool.black]
line-length = 120
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
    \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | migrations
    | venv
    | env
    | static
    | media
)/
'''

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip = ["migrations", "venv", "env", "static", "media"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "visa_consultancy.settings"
python_files = ["test_*.py", "*_tests.py"]
addopts = "--reuse-db --nomigrations"